# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=stock-prices
KAFKA_CONSUMER_GROUP=stock-consumer-group

# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=kraf_db

# DuckDB Configuration
DUCKDB_PATH=data/yf_analytics.duckdb
STOCK_TABLE=stock_prices

# Spark Configuration
SPARK_MASTER_URL=spark://localhost:7077
SPARK_APP_NAME=YF_DataPipeline

# Yahoo Finance API
YF_SYMBOLS=AAPL,MSFT,GOOG
YF_INTERVAL=1m
YF_FETCH_INTERVAL_SECONDS=60

# Logging
LOG_LEVEL=INFO
LOG_FILE_PATH=logs/application.log
